<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/semester-details', course.semester_id]"></ion-back-button>
    </ion-buttons>
    <ion-title>Course</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-item>Semester: {{ course.semester_name }}</ion-item>
    <ion-item>Course: {{ course.course_name }}</ion-item>
    <ion-item>Rating: {{ rating | number : '1.2-2' }}</ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-card-title color="primary">Assignments</ion-card-title>
    </ion-item>
    <ion-list *ngFor="let assignment of assignmentList">
      <ion-item lines="inset" button [routerLink]="['/assignment-details', assignment.id]">
        <ion-label>{{ assignment.assignment_name }}</ion-label>
        <ion-badge *ngIf="assignment.assignment_is_in_progress">
          <ion-icon name="alert"></ion-icon>
        </ion-badge>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/course-details/' + course_id + '/assignment-cu'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
