<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Semester</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-item>{{ semester.semester_name }}</ion-item>
    <ion-item>
        <ion-checkbox disabled=true
                      [checked]="semester.semester_is_current">
        </ion-checkbox>
        <ion-label>Current</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-card-title color="primary">Courses</ion-card-title>
    </ion-item>
    <ion-list *ngFor="let course of courseList">
      <ion-item lines="inset" button [routerLink]="['/course-details', course.id]">
        <ion-label>{{ course.course_name}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/semester-details/' + semester_id + '/course-cu'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
