<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Rate'em!
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let semester of semesterList">
    <ion-item lines="inset" button [routerLink]="['/semester-details', semester.id]">
      <ion-label>{{ semester.semester_name }}</ion-label>
      <ion-badge *ngIf="semester.semester_is_current">
        <ion-icon name="star"></ion-icon>
      </ion-badge>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/semester-details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
