<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/course-details', assignment.course_id]"></ion-back-button>
    </ion-buttons>
    <ion-title>Assignment</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-item>{{ assignment.assignment_name }}</ion-item>
    <ion-item>
      <ion-checkbox disabled="true" [checked]="assignment.assignment_is_in_progress">
      </ion-checkbox>
      <ion-label>In Progress</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea disabled="true">
        {{ assignment.assignment_desc }}
      </ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-card-title color="primary">Feedback</ion-card-title>
    </ion-item>
    <ion-list *ngFor="let feedback of feedbackList">
      <ion-item lines="inset">
        <ion-text>{{ feedback.feedback_txt }}</ion-text>
        <ion-badge slot="end">{{ feedback.rating | number : '1.2-2' }}</ion-badge>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/assignment-details/' + assignment_id + '/feedback-cu'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
